@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #000;
    --foreground: #fff;
}

*,
*::before,
*::after {
    line-height: calc(1em + 0.75rem);
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
    user-select: none;
}

button {
    cursor: pointer;
    color: inherit;
}

main {
    transition-property: opacity, filter;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

.page-transition {
    opacity: 0;
}

.reveal-hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal-top-to-bottom {
    opacity: 1;
    transform: translateY(0);
    animation: revealTopToBottom 0.8s ease forwards;
}

@keyframes revealTopToBottom {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.reveal-bottom-to-top {
    opacity: 1;
    transform: translateY(0);
    animation: revealBottomToTop 0.8s ease forwards;
}

@keyframes revealBottomToTop {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
